.btn-perso {
  --bs-btn-color: #fff;
  --bs-btn-bg: #AB9FFB;
  --bs-btn-border-color: #AB9FFB;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #80D6FB;
  --bs-btn-hover-border-color: #80D6FB;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
}

.col-sm-6 {
  width: 30%;
}

.row-cols-auto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-bottom: 20%;
}

.titre {
  background-image: linear-gradient(#C6F0F7, #80D6FB, #AB9FFB, #AB9FFB);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 100px;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info-projet {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
}

a {
  color: #80D6FB;
}
a:hover {
  color: #AB9FFB;
}

main {
  background-image: url("../media/fond_connexion.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-link {
  color: grey;
}
.nav-link:hover {
  color: #80D6FB;
}

.container .nav-pills .nav-color {
  background-color: #80D6FB !important;
}

.py-3 {
  border-bottom-color: #80D6FB;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.color-row1 {
  border-color: #9ED6F9;
  border-style : dashed;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.color-row2 {
  border-color: #7395F5;
  border-style : dashed;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.color-row3 {
  border-color: #BAB2FC;
  border-style : dashed;
  border-radius: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}
.color-row4-1 {
  border-color: #705EE4;
  border-style : dashed;
  border-radius: 20px 0 0 20px;
  padding-bottom: 10px;
  padding-top: 5px; 
  border-right: none;
}
.color-row4-2 {
  border-color: #705EE4;
  border-style : dashed;
  border-radius: 0 20px 20px 0;
  padding-bottom: 10px;
  padding-top: 5px;  
  border-left: none;
}

.with-animation {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.with-animation:hover::placeholder {
    animation: slide-text 5s infinite linear;
}
@keyframes slide-text {
    from {
        text-indent: 0;
    }
    to {
        text-indent: -100%;
    }
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%; 
  height: auto; 
}

.btn-connexion {
  position: absolute;
  top: 20px;
  right: 20px;
}

.table {
  --bs-table-hover-bg: #ECE3FF;
}

.alert.alert-info {
  background-color: #EAE6F5 !important;
  border-color: #EAE6F5 !important;
}

.table-container {
    max-height: 600px; 
    overflow-y: auto;
}

.table-container thead {
    position: sticky; 
    top: 0; 
    background-color: #f8f9fa; 
    z-index: 0; 
}

.table-container th, .table-container td {
    border-bottom: 1px solid #dee2e6; 
}

.card-text {
    text-align: center;
}
.normalisation {
  color: black !important;
}



.image-slider {
  position: relative;
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.prev {
   position: absolute;
  bottom: 10px; 
  left: 10px;
  z-index: 1;
}

.next {
  position: absolute;
  bottom: 10px; 
  right: 10px;
  z-index: 1;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    max-width: 80%;
}

.img-responsive {
  max-width: 40vw;
  height: auto;
}


